POSTGRES_DB=voyager
POSTGRES_USER=voyager
POSTGRES_PASSWORD=replace-with-a-local-password

MINIO_ROOT_USER=voyager_minio
MINIO_ROOT_PASSWORD=replace-with-a-local-password
MINIO_BUCKET=voyager-documents

OPENSEARCH_INITIAL_ADMIN_PASSWORD=Voyager_OpenSearch_123!

VOYAGER_SECURITY_JWT_SECRET=change-this-local-secret-to-a-long-random-value
VOYAGER_CRYPTO_SECRET=change-this-32-byte-secret-for-aes-gcm

VOYAGER_BOOTSTRAP_ADMIN_USERNAME=admin
VOYAGER_BOOTSTRAP_ADMIN_PASSWORD=12345678
VOYAGER_BOOTSTRAP_EMPLOYEE_USERNAME=employee
VOYAGER_BOOTSTRAP_EMPLOYEE_PASSWORD=12345678
